{{template "head.tmpl"}}
<div class="container-fluid">
    <div class="row" style="height: 100vh;" id="app">
        <div class="col col-sm-2 col-lg-2 bg-dark pb-3 border-right border-dark d-flex flex-md-column h-100">
            <tags v-on:tag="all"></tags>
            <hr>
            <a href="/logout" class="btn btn-outline-secondary btn-sm">Logout</a>
        </div>
        <div class="col col-sm-4 col-lg-4 bg-light px-0 border-right border-primary d-flex flex-md-column h-100">
            <vaults v-on:vault="one" v-bind:tag="tag"></vaults>
        </div>
        <div class="col h-100" style="overflow: auto">
            <view-vault v-on:vault="one" v-bind:vault="vault" v-bind:tag="tag" v-if="action === 'view'"></view-vault>
            <edit-vault v-on:vault="one" v-bind:vault="vault" v-bind:tag="tag" v-bind:action="action" v-else></edit-vault>
        </div>
    </div>
</div>
{{template "foot.tmpl" .}}
<script src="/js/view-vault.js"></script>
<script src="/js/edit-vault.js"></script>
<script src="/js/vaults.js"></script>
<script src="/js/tags.js"></script>
<script src="/js/app.js"></script>
