{{template "head.tmpl"}}
<div class="jumbotron" id="passphrase" >
    <h1 class="display-4">Safe</h1>
    <p class="lead">Local storage to store secrets.</p>
    <hr class="my-4">
    <sign-form action="/" v-bind:sign-up="{{ .SignUp }}"></sign-form>
</div>
{{template "foot.tmpl" .}}
<script src="/js/sign-form.js"></script>
<script src="/js/sign-in.js"></script>